.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 25px;
    padding: 25px 441px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    gap: 38px;
}

.recuadro-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 0px 9px;
    color: #24292f;
}

.icons-sociales {
    display: flex;
    gap: 16px;
}