.jumbotron {
    background-image: url(/assets/pngtree-interior-of-clothing-storage-with-hats-and-shirts-picture-image_2507154.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #F2F2F2;
    gap: 153px;
    perspective: 1000px;
}

.jumbotron h1{
    font-size: 58;
    font-weight: 700;
}

.jumbotron button{
    font-weight: bold;
    color: #F2F2F2;
    background-color: #024059;
    padding: 14px 39px;
    border-radius: 35px;
    cursor: pointer;
}

.jumbotron button:hover{
    opacity: .6;
    background-color:lightblue;
}

.jumbotron:hover{
    transform: rotateX(30deg);
    transition-duration: 3s;
}