/* Esta la acabo de revisar */
.tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 46px;
}

/* Esta la acabo de revisar */
.franelas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    padding: 10px 32px;
    border-radius: 20px;
    box-shadow: var(--drop-shadow-400);
}


.imagen1 {
    width: 100%;
    background-image: url(/assets/images.png);
    background-size: cover;
    background-position: 50% 50%;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.text-wrapper {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 20px;
    text-align: center;
}

.camisa-de-diseño {
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #24292f;
    font-size: 16px;
    text-align: center;
}


.text-wrapper2 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 16px;
    text-align: center;
}

.subdivisiones {
    display: flex;
    justify-content: space-between;
}

.colores-referentes {
    display: flex;
    width: 150px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 17px, 0px;
    gap: 10px;
}

.ellipse {
    width: 24px;
    height: 24px;
}





.zapatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    padding: 10px 32px;
    border-radius: 20px;
    box-shadow: var(--drop-shadow-400);
}

.imagen2 {
    width: 100%;
    background-image: url(/assets/born\ x\ rise.png);
    background-size: cover;
    background-position: 50% 50%;
}

.textos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
}


.text-wrapper3 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 20px;
    text-align: center;
}

.zapatos-nike {
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #24292f;
    font-size: 16px;
    text-align: center;
}

.subdivisiones2 {
    justify-content: space-between;
}

.text-wrapper4 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 16px;
    text-align: center;
    justify-content: space-between;
}

.colores-referentes2 {
    display: flex;
    width: 150px;
    height: 20px;
    align-items: center;
    padding: 17px, 0px;
    gap: 10px;
    justify-content: space-between
}

.ellipse {
    width: 24px;
    height: 24px;
}



.pantalon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    padding: 10px 32px;
    border-radius: 20px;
    box-shadow: var(--drop-shadow-400);
}

.imagen3{
    width: 100%;
    background-image: url(/assets/Baggy-Fit-jeans---Gris-lavado---H-M-CO-removebg-preview.png);
    background-size: cover;
    background-position: 50% 50%;
}

.textos3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
}
.text-wrapper5{
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 20px;
    text-align: center;
}

.jeans{
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #24292f;
    font-size: 16px;
    text-align: center;
}

.subdivisiones3{
    justify-content: space-between;
}

.text-wrapper6{
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #24292f;
    font-size: 16px;
    text-align: center;
    justify-content: space-between;
}

.colores-referentes3{
    display: flex;
    width: 150px;
    height: 20px;
    align-items: center;
    padding: 17px, 0px;
    gap: 10px;
    justify-content: space-betwee
}

.ellipse {
    width: 24px;
    height: 24px;
}